.footer-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.footer-images img {
  height: 50px;
  object-fit: contain;
}

@media screen and (max-width: 600px) {
  .footer-images {
    display: none;
  }
}
