.redes > * > * {
  width: 25px;
  height: 25px;
  margin-right: 20px;
  filter: invert(100%) brightness(200%);
}

.redes-titulo {
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.redes-container {
  justify-items: left;
}
