.govrs-tag-contagem {
  display: inline-flex;
  min-width: 24px;
  min-height: 24px;
  align-items: center;
  justify-content: center;
  padding: 1px 7px 4px 7px;
  border: 1px solid #fff;
  border-radius: 999px;
  background-color: #d54309;
  color: #fff;
  font-size: 0.875rem;
  gap: 8px;
}
