.govrs-tag-contagem{
    display: inline-flex;
    min-width: 24px;
    font-size: 0.875rem;
    min-height: 24px;
    padding: 1px 7px 4px 7px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #D54309;
    color: #fff;
    border-radius: 999px;
    border: 1px solid #fff;
}