@import '../../../theme/variables.scss';

.govrs-tag-icon {
  display: inline-flex;
  max-width: 40px;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: Magenta;
  color: #fff;
  gap: 12px;
}
