.local-data {
  max-width: fit-content;
  color: #ffffff;
}

.local-data__title {
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 700;
}

.local-data__logradouro {
  font-size: 1rem;
  line-height: 1.5;
}

.local-data-loading {
  color: #ffffff;
  font-size: 1rem;
}

/* Mobile responsivo */
@media screen and (max-width: 834px) {
  .local-data {
    width: 100%;
    max-width: 100%;
  }

  .local-data__title {
    margin-bottom: 10px;
    font-size: 1.25rem;
  }

  .local-data__logradouro {
    font-size: 0.9rem;
  }
}
