@import '../../theme/variables.scss';

.br-menu {
  --menu-zindex: 1000;
  --menu-panel-zindex: 1100;
  --menu-scrim-zindex: 1050;
  --interactive: #1a7235;
  --background: #ffffff;
  --border-color: #cccccc;

  position: fixed;
  z-index: var(--menu-zindex);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: $font-family-base;
  pointer-events: none;
  transition: visibility 0.3s;
  visibility: hidden;

  &.active {
    pointer-events: auto;
    visibility: visible;
    .menu-panel {
      left: 0;
    }
    .menu-scrim {
      opacity: 1;
    }
  }

  .menu-panel {
    position: absolute;
    z-index: var(--menu-panel-zindex);
    top: 0;
    left: -370px;
    display: flex;
    width: 100%;
    max-width: 360px;
    height: 100vh;
    flex-direction: column;
    background: var(--background);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease-in-out;
  }

  .menu-header {
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid var(--border-color);
    img {
      width: auto;
      max-height: 60px;
    }
    .menu-close {
      margin-left: auto;
    }
  }

  .menu-body {
    flex: 1;
    overflow-y: auto;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    .menu-item {
      display: flex;
      width: 100%;
      min-height: 52px;
      align-items: center;
      padding: 17px 16px;
      border: none;
      border-bottom: 1px solid var(--border-color);
      background: transparent;
      cursor: pointer !important;
      font-weight: 400;
      text-align: left;
      text-decoration: none;
      transition:
        background 0.2s,
        color 0.2s;

      &:hover {
        background: rgba(51, 51, 51, 0.16);
      }

      .icon {
        display: flex;
        width: 24px;
        justify-content: center;
        margin-right: 10px;
        color: var(--interactive);
      }

      .content {
        display: flex;
        flex: 1;
        align-items: center;
        color: #000000;
        font-size: 16px;
        line-height: 1.2;
      }

      .support {
        display: flex;
        align-items: center;
        margin-left: 8px;
        color: var(--interactive);
        font-size: 14px;
      }
    }

    .menu-back {
      .back-button {
        border-bottom: none;
        background-color: #0b5c24;
        font-family: $font-family-base;
        font-weight: 400;

        .icon {
          color: #ffffff;
          font-size: 14px;
        }

        .content {
          color: #ffffff;
          font-size: 16px;
          text-transform: none;
        }
      }
    }
  }

  .menu-footer {
    background: #fff;

    .menu-links {
      padding: 16px;
      border-top: 1px solid var(--border-color);

      a {
        display: flex;
        align-items: center;
        padding: 8px 0;
        color: var(--interactive);
        font-size: 14px;
        text-decoration: none;

        .external-icon {
          margin-left: 4px;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .social-network {
      padding: 16px;
      border-top: 1px solid var(--border-color);

      .social-network-title {
        margin-bottom: 6px;
        font-size: 16px;
        font-weight: 400;
      }
      .sharegroup {
        display: flex;
        gap: 16px;
        a {
          display: flex;
          align-items: center;
          padding: 14px;
          color: var(--interactive);
          font-size: 20px;
        }
      }
    }

    .menu-info {
      padding: 16px;
      border-top: 1px solid var(--border-color);
      color: #999;
      font-size: 11px;
    }
  }

  .menu-scrim {
    position: absolute;
    z-index: var(--menu-scrim-zindex);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.45);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .br-button {
    color: #1a7235;

    &:hover,
    &:active {
      background: rgba(51, 51, 51, 0.16) !important;
    }
  }
}

.menu-trigger-container {
  .br-button.secondary {
    border: none;
    background-color: var(--background);
    color: #1a7235;

    &:hover,
    &:active {
      background: rgba(51, 51, 51, 0.16);
    }
  }
}
